In [1]:
import pandas as pd

In [2]:
trdf = pd.read_csv('train.csv')
tedf = pd.read_csv('test.csv')

/home/anna/.conda/envs/work/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
trdf.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [4]:
trdf.shape

(404290, 6)

In [5]:
tedf.head()

,test_id,question1,question2
0,0,How does the Surface Pro himself 4 compare wit...,Why did Microsoft choose core m3 and not core ...
1,1,Should I have a hair transplant at age 24? How...,How much cost does hair transplant require?
2,2,What but is the best way to send money from Ch...,What you send money to China?
3,3,Which food not emulsifiers?,What foods fibre?
4,4,"How ""aberystwyth"" start reading?",How their can I start reading?

In [6]:
tedf.shape

(3563475, 3)

In [10]:
!wc -l train_pairs.txt

283003 train_pairs.txt

In [11]:
!wc -l valid_pairs.txt

121287 valid_pairs.txt

In [12]:
import numpy as np

In [13]:
tr_labels = np.loadtxt('y_train.txt')

In [14]:
v_labels = np.loadtxt('y_valid.txt')

In [16]:
from collections import Counter
Counter(tr_labels), Counter(v_labels)

(Counter({0.0: 178677, 1.0: 104326}), Counter({0.0: 76350, 1.0: 44937}))